h1 {
    color: rgb(228, 209, 148);
}

.copyright > ul.menu {

}

.copyright > ul.menu li {
    display: block;
    line-height: 1.5em;
    /*border-left: solid 1px rgb(230, 230, 230);*/
    /* padding: 0 0 0 0.5em; */
    /* margin: 0 0 0 0.5em; */
    padding: 0;
    margin: 0;
    text-align: center;
}